/* Overall Rules for the style of the project*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Navigation bar*/

nav {
    background-color: #371267;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo a img{
    background-color: transparent;
    height: 6vh;
    width: 18vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li {
       list-style: none;
}

/*Home page*/
    /*Content View*/

.content-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.content-card a img{
    width: 640px;
    height: 480px;
    border-radius: 10%;
}